html {
    background: url('../images/4k-wallpaper-android-wallpaper-astro-1146134.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 5%;
    letter-spacing: 1px;
}

input {
    color: white;
}

ul {
    list-style-type: none;
}

ul li {
    margin-top: 8%;
}

button {
    background-color: #8b76c7 !important;
    display: inline-block !important;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}

/* #delete_btn, #update_btn {
    margin-left: 5%;
} */

@media only screen and (max-width: 299px) {
    h2 {
        font-size: 20px;
    }
}